/* ==========================================================================
   VARIABLES CSS
   ========================================================================== */

:root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);

    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);

    --color-brown-800: hsl(14, 45%, 36%);

    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);

    /* Typography */
    --font-family-base: Outfit, Verdana, sans-serif;
    --font-family-secondary: YoungSerif, Georgia, 'Times New Roman';
    --font-size-base: 16px;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --line-height-base: 1.5;

    /* Spacing */
    --space-1600: 128px;
    --space-600: 48px;
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
}

/* ==========================================================================
   FONT FACE
   ========================================================================== */

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(assets/fonts/young-serif/YoungSerif.ttf);
}

/* ==========================================================================
   RESET & BASE STYLES
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Layout */
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding:var(--space-1600) var(--space-600);

    /* Visual */
    background: var(--color-stone-100);

    /* Typography */
    font-family: var(--font-family-base);
    font-size: clamp(0.75rem, 0.5vw + 0.75rem, 1.125rem);
    line-height: var(--line-height-base);
    color: var(--color-stone-600);
}

hr {
    border: 1px solid var(--color-stone-150);
}


/* ==========================================================================
   TYPOGRAPHY UTILITIES
   ========================================================================== */

/* Text Presets */
.text-preset1 {
    font-family: YoungSerif;
    font-size: clamp(1.5rem, 3vw + 0.5rem, 2.5rem);
    line-height: 1;
    letter-spacing: normal;
    color: var(--color-stone-900);
}
.text-preset2 {
    font-family: YoungSerif;
    font-size: clamp(1.25rem, 2vw + 0.5rem, 1.75rem);
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--color-brown-800);
}
.text-preset3 {
    font-family: Outfit;
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 1;
    letter-spacing: normal;
    color: var(--color-rose-800);
}
.text-preset4 {
    font-family: Outfit;
    line-height: 1.5;
    letter-spacing: normal;
}
.text-preset4-bold {
    font-family: YoungSerif;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    letter-spacing: normal;
}


/* ==========================================================================
   COMPONENTS
   ========================================================================== */

/* Card Component
   -------------------------------------------------------------------------- */
.card {
    /* Layout */
    width: 100%;
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: var(--space-500);
    padding: var(--space-500);

    /* Visual */
    background-color: var(--color-white);
    border-radius: var(--space-300);
}


/* Top Image
   -------------------------------------------------------------------------- */
.top-image{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Content
   -------------------------------------------------------------------------- */
.text-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
}

/* Title
   -------------------------------------------------------------------------- */
.title {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

/* Preparation
   -------------------------------------------------------------------------- */
.preparation {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    padding: var(--space-300);
    background-color: var(--color-rose-50);
    border-radius: var(--space-150);
}

.preparation ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding-left: var(--space-300);

}

.preparation ul li {
    padding-left: var(--space-300);

}

/* Ingredients
   -------------------------------------------------------------------------- */
.ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.ingredients ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding-left: var(--space-200);

}

.ingredients ul li {
    padding-left: var(--space-300);
}

/* Instructions
   -------------------------------------------------------------------------- */
.instructions {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.instructions ol {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding-left: var(--space-300);
}

.instructions ol li {
    padding-left: var(--space-300);
}

/* Nutrition
   -------------------------------------------------------------------------- */
.nutrition {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.nutrition table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition table tr {
    border-bottom: 1px solid var(--color-stone-150);
}

.nutrition table tr:last-child {
    border-bottom: none;
}

.nutrition table td {
    padding: var(--space-100) var(--space-400);
}

.nutrition table td:nth-child(2) {
    color: var(--color-brown-800);
    font-weight: bold;
}

@media (max-width: 370px) {
    .body {
        padding: 0;
    }
    .card {
        border-radius: 0;
        padding: 0;
    }
    .top-image {
        border-radius: 0;
    }
    .text-content {
        padding: var(--space-200);
    }
}